.description{padding: 20px 3px;}
.center{text-align: center;}
.table-td-top{}
.table-td-top td{vertical-align: top;}
.bold{font-weight: bold;}
h1 a{text-decoration: none;}
.sidebar a{text-decoration: none; border: 0; font-weight: normal;}
.sidebar a.ui-state-hover{border: 0; font-weight: normal;}
#north { margin-bottom: 3px; position: relative;}
#north .ui-panel-content{ padding: 0 10px ;}
#title{ padding: 5px; font-size: 20px; margin: 0;}
#west{float: left;width: 270px;}
#west .ui-panel-content{ padding: 5px ;}
#center{float: left;width: 100%;}
.header-detail{font-size: 10px;}
.header-detail b{font-size: 11px;}
.grid-template{width: 100%;}
.grid-template > tbody > tr > td{vertical-align: top;}
.w-260{width: 260px;}
.w-280{width: 280px;}
.grid-detail, grid-form{margin-top: 15px;}
.grid-detail td, grid-form td{padding: 4px 0;}
.grid-detail td label, .grid-form td label{margin: 0 5px 0 15px ; float: right;}
.grid-detail td label{font-weight: bold;}
.ui-toolbar{margin: 2px 0;}
.ui-datatable th input.ui-column-filter{width: 90%;}
.ui-panel{margin-top: 6px;}
.panel-detail-auditing-delete .ui-datatable-data td{white-space: normal !important;}
.panel-calendar-filter > table {table-layout: auto;}
.panel-calendar-filter .ui-inputfield {width: 55px;}
.panel-calendar-filter .calendar-filter{white-space: nowrap;}
.ui-fieldset{margin: 3px 0;}
.ui-fieldset-legend{width: auto;font-size: 13px;height: auto;padding: 0px 15px;margin: 5px 0 5px 5px;}
select.form-control{height: 34px !important;}
.ui-datatable table{ table-layout: auto; }
.ui-datatable .ui-datatable-tablewrapper tbody > tr > td {padding: 3px; white-space: normal;}
.ui-datatable thead > tr > th {white-space: normal !important;}
.page-title{font-size: 24px; border-bottom: 1px solid #EBEBEB;padding-left: 5px;}
.sub-title{font-size: 16px; border-bottom: 1px solid #EBEBEB; margin-top: 30px; margin-bottom: 20px; padding-left: 10px;}
.description-box{border: 1px solid #EBEBEB; padding: 20px 10px; font-size: 12px; background: #F8F8F8; margin-bottom: 10px;}
.ui-accordion .ui-accordion-header .ui-icon {     display: block;}
.ui-accordion{    margin-top: 5px;}
.ui-accordion .ui-accordion-header{    font-size: 13px; color: #0088CC;}
.links a{color: #0088CC; padding: 2px; display: block;}